# disable SSI
Options -IncludesNOEXEC

# redirects
Redirect permanent /handbook/boot.html           http://ultradefrag.sourceforge.net/handbook/Boot.html
Redirect permanent /handbook/console.html        http://ultradefrag.sourceforge.net/handbook/Console.html
Redirect permanent /handbook/credits.html        http://ultradefrag.sourceforge.net/handbook/Credits.html
Redirect permanent /handbook/faq.html            http://ultradefrag.sourceforge.net/handbook/FAQ.html
Redirect permanent /handbook/gui.html            http://ultradefrag.sourceforge.net/handbook/GUI.html
Redirect permanent /handbook/installation.html   http://ultradefrag.sourceforge.net/handbook/Installation.html
Redirect permanent /handbook/introduction.html   http://ultradefrag.sourceforge.net/handbook/Introduction.html
Redirect permanent /handbook/micro_edition.html  http://ultradefrag.sourceforge.net/handbook/Installation.html
Redirect permanent /handbook/portable.html       http://ultradefrag.sourceforge.net/handbook/Installation.html
Redirect permanent /handbook/reports.html        http://ultradefrag.sourceforge.net/handbook/Reports.html
Redirect permanent /handbook/scheduler.html      http://ultradefrag.sourceforge.net/handbook/Schedule.html

Redirect permanent /handbook/design_notes.html   http://ultradefrag.sourceforge.net/doxy-doc/html/
Redirect permanent /handbook/development.html    http://ultradefrag.sourceforge.net/doxy-doc/html/
Redirect permanent /handbook/i18n.html           http://ultradefrag.wikispaces.com/
Redirect permanent /handbook/main.html           http://ultradefrag.sourceforge.net/handbook/
Redirect permanent /handbook/reporting_bugs.html http://ultradefrag.sourceforge.net/handbook/ReportingBugs.html
